@import "tailwindcss";





body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: fa1;
  src: url("/fonts/peyda-Regular.woff2") format("woff2");
}
@font-face {
  font-family: fa2;
  src: url("/fonts/Shabnam-Medium.woff2") format("woff2");
}
@font-face {
  font-family: fa1;
  src: url("/fonts/peyda-Regular.woff2") format("woff2");
}
@font-face {
  font-family: fa1;
  src: url("/fonts/peyda-Regular.woff2") format("woff2");
}
@font-face {
  font-family: fa1;
  src: url("/fonts/peyda-Regular.woff2") format("woff2");
}
@font-face {
  font-family: fa1;
  src: url("/fonts/peyda-Regular.woff2") format("woff2");
}
@font-face {
  font-family: fa1;
  src: url("/fonts/peyda-Regular.woff2") format("woff2");
}
@font-face {
  font-family: fa1;
  src: url("/fonts/peyda-Regular.woff2") format("woff2");
}
@font-face {
  font-family: fa1;
  src: url("/fonts/peyda-Regular.woff2") format("woff2");
}
@font-face {
  font-family: fa1;
  src: url("/fonts/peyda-Regular.woff2") format("woff2");
}
@font-face {
  font-family: fa1;
  src: url("/fonts/peyda-Regular.woff2") format("woff2");
}
@font-face {
  font-family: fa1;
  src: url("/fonts/peyda-Regular.woff2") format("woff2");
}
@font-face {
  font-family: fa1;
  src: url("/fonts/peyda-Regular.woff2") format("woff2");
}
@font-face {
  font-family: fa1;
  src: url("/fonts/peyda-Regular.woff2") format("woff2");
}

td, tr {
  border: 1px solid black ;
  
}